body{
    background: blue;
}
header{
    background: red;
}
header .h1{
    color: aquamarine;
}
nav{
    background: #123456;
}
main{
    color: aqua;
    background: #123456;
}
footer{
    background: red;
}
footer .h1{
    color: aqua;
}