body{
    background: rgb(210, 231, 188);
}
header{
    background: rgb(233, 160, 160);
}
header .H1{
    color: rgb(185, 185, 248);
}
nav{
    color: aqua;
}
main{
    background: rgb(174, 174, 245);
}
main .p{
    color: aliceblue;
}
footer{
    background: white;
}
footer .H1{
    color: aliceblue;
}